    <div id="game">
        <div id="stats">
          <span class="stat">XP: <strong><span id="xpText">0</span></strong></span>
          <span class="stat">Vida: <strong><span id="healthText">100</span></strong></span>
          <span class="stat">Gold: <strong><span id="goldText">50</span></strong></span>
        </div>
        <div id="controls">
          <button id="button1">Ir para a Loja</button>
          <button id="button2">Ir para a Caverna</button>
          <button id="button3">Lutar com o Dragão</button>
        </div>
        <div id="monsterStats">
          <span class="stat">Nome do Monstro: <strong><span id="monsterName"></span></strong></span>
          <span class="stat">Vida: <strong><span id="monsterHealth"></span></strong></span>
        </div>
        <div id="textgame">
          Bem-vindo ao Dragon Repeller. Derrotte o Dragão que impede as pessoas de deixarem a vila. Você está na praça da vila. Onde quer ir? Use os botões acima.
        </div>
      </div>