*{
    margin: 0;
    padding: 0;
    
}




.contentBody{
    /* padding-top: 100px; */
}

#headerGeral{
    display: flex;
    background-color: #000;
    height: 100px;
    width: 100%;
    position: relative;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#homelogo{
    align-items: center;
    height: 100%;
    display: flex;
    width: auto;
    justify-content: center;
    width: 100px;
}

#homelogo .homelogoImg{
    
    height: 70%;
}

#homelogo .homelogoImg img{
    height: 100%;
}

#homelogo .navOpen{
    display: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 70px;
    width: 100px;
}

#navbar{
    position:relative;
    height: 100%;
    align-items: center;
    display: inline-flex;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

#navbar > ul > li{
    float: left;
    border-right: 1px solid #bbb;
}


#navbar li:last-child{
    border-right: none;
}

#navbar li a, .dropbtn, .dropbtnH2{
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    min-width: 120px;
    cursor: pointer;
}

#navbar li a:hover, .dropdown-content a:hover, #dropdown:hover .dropbtn, .dropdown-contentH2 a:hover,#dropdownH2:hover .dropbtnH2{
    background-color: #252525;
    font-weight: 500;
}

#dropdown{
    display: block;
}

#dropdownH2{
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #202020;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-contentH2 {
    display: none;
    margin-left: 144px;
    position: absolute;
    background-color: #202020;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-content a, .dropdown-contentH2 a{
    font-size: 18px;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdown:hover .dropdown-content, #dropdownH2:hover .dropdown-contentH2 {
    display: block;
}

#loginUser{
    position: absolute;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    z-index:initial ;
}
#loginUser button{
    height: 70%;
    border-radius: 100%;
    width: 70%;
    cursor: pointer;
}
#loginUser button img{
    height: 100%;
    border-radius: 100%;
}
#tela-login{
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 250px;
    right: 0;
    background-color: lightgray;
    margin-top: 105px;
    margin-right: 5px;
    display: none;
    align-items: center;
    border-radius: 20px;
    border: 2px solid lightgray;
}
#tela-login ul{
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
}
#tela-login ul li{
    margin-bottom: 5%;
}
#tela-login ul li h4{
    text-align: left;
    font-size: 20px;
    font-family: Impact;
    font-weight: lighter;
}
#tela-login ul li input{
    height: 25px;
    width: 100%;
    font-size: 16px;
}
#tela-login #mostrarSenha{
    /* background-image: url(/imgs/tokens/mostrarSenha.png); */
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 10%;
    top:42%;
}
#tela-login #mostrarSenha img{
    width: 30px;
    height: 30px;
}
#tela-login ul #login-button{
    display: grid;
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
    justify-items: center;
}
#tela-login ul li #entrar{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: lightgray;
    font-family: "Rubik";
    font-weight: 400;
    cursor: pointer;
    background-color: red;
    width: 100%;
}
#tela-login ul li #registro-display{
    margin-bottom: 5%;
    padding: 5px;
    font-family: "Rubik";
    font-weight: 400;
    font-size: 12px;
    background-color: darkslategray;
    text-decoration: none;
    color: lightgray;
    border: black solid 1px ;
    
    display:block;
    width: 50%;
    margin-top: 2%;
}
#tela-login #logout{
    display: none;
    width: 100%;
    height: 100%;
    margin:0;
    justify-content: center;
    text-align: center;
}
#tela-login #logout li{
    margin:0;
}
#tela-login #logout p{
    font-weight: lighter;
    font-family: Impact;
    margin-top: 5%;
    font-size: 32px;
    margin-bottom: 2%;
}
#tela-login #logout #imagem-perfil{
    margin: 0;
}
#tela-login #logout #imagem-perfil button{
    border-radius: 100%;
    border: 1px solid black;
}
#tela-login #logout #imagem-perfil .tokens{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
#tela-login #logout #logado-buttons{
    display: inline;
    bottom:0;
}
#tela-login #logout #logado-buttons button{
    width: 50%;
    margin-top: 2%;

}
#tela-login #logout #logout-button{
    bottom: 20%;
    padding: 10px;
    font-weight: lighter;
    font-size: 20px;
    background-color: red;
    color: lightgray;
}
#tela-login #logout #change-password{
    margin-bottom: 5%;
    padding: 5px;
    font-weight: lighter;
    font-size: 12px;
    background-color: grey;
    color: lightgray;
}
#tela-login #mudar_senha{
    display: none;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
}
#tela-login #mudar_senha #butoes_mudar_senha{
    display: grid;
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
    justify-items: center;
}
#tela-login #mudar_senha #mudarSenha{
    margin-bottom: 5%;
    padding: 5px;
    font-weight: lighter;
    font-size: 12px;
    background-color: red;
    color: lightgray;
    display:block;
    width: 50%;
}
#tela-login #mudar_senha #voltarLogout{
    margin-bottom: 5%;
    padding: 5px;
    font-weight: lighter;
    font-size: 20px;
    background-color: grey;
    color: lightgray;
    width: 100%;
}
#tela-login #register{
    display: none;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
}
#tela-login #register li h4{
    text-align: left;
    font-size: 20px;
    font-family: Impact;
    font-weight: lighter;
}
#tela-login #register #register-button{
    display: grid;
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
    justify-items: center;
}
#tela-login #register #register-button #registrar{
    margin-bottom: 5%;
    padding: 5px;
    font-weight: lighter;
    font-size: 12px;
    background-color: red;
    color: lightgray;
    display:block;
    width: 50%;
}
#tela-login #register #register-button #voltarLogoutRegister{
    margin-bottom: 5%;
    padding: 5px;
    font-weight: lighter;
    font-size: 12px;
    background-color: grey;
    color: lightgray;
    width: 100%;
}
.nome{
    font-weight: lighter;
}   

@media screen and (max-width: 600px) {
    #homelogo .navOpen{
        display: block;
    }
    #homelogo{
        width: auto;
    }
    #navbar {
        position: absolute;
        display: block;
        height: auto;
        z-index: 3;
        margin-top: 100px;
        width: 100vw;
        display: none;
    }
    #navbar ul{
        position: relative;
    }
    #navbar ul li{
        float: none;
        display: block;
    }
    .dropdown-contentH2{
        margin-left: inherit;
    }
    #dropdownH2{
        display: block;
    }
    #navbar [class^="dropdown-content"] {
        position: relative;
    }
    #navbar [class^="dropdown-content"] ul {
        background-color: #404040;
    }
    #navbar [class^="dropdown-content"] ul li a{
        /* color: #000; */
    }
    #navbar [class^="dropdown-content"] > ul > li:last-child {
        border-bottom: 1px solid #000;
    }

}

