* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background: url('../imgs/caminho-westerias.jpg'), no-repeat;
    background-size: 100%;
    backdrop-filter: blur(5px);
    height: 100vh;
}

.cabecalho .filtro {
    
    height: 100%;
    width: 100%;
}

.navegacao {
    display: inline-flex;
    align-items: flex-end;
}
.navegacao li{
    display: inline-block;    
}