* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background: url('../imgs/slayerfall/slayerfall-banner.png'), no-repeat;
    background-size: 100%;
    background-position: 0%, 0%;
    height: 100vh;
}

.cabecalho .filtro {
    
    height: 100%;
    width: 100%;
}

.navegacao {
    display: inline-flex;
    align-items: flex-end;
}
.navegacao li{
    display: inline-block;    
}