{{#if user}}
    <h1>{{user.nickname}}</h1>
    <input type="hidden" id="inputuser" value="{{user.nickname}}">
    <script>
        const name = document.getElementById("inputuser").value;
        console.log(`${name}`);
        alert(`Bem-vindo ${name}`);
    </script>
{{else}}
{{/if}}



<div id = "melhorCanal">

    <div>
        <h1>O MELHOR CANAL DE RPG DO BRASIL</h1>
        <h2>Saiba mais sobre as mesas do RPG dos Manos</h2>
    </div>
    <img src="/imgs/index/imagemDados.jpg" alt="Dados de RPG">
</div>

<div class="catalogoCampanhas">
    
    <ul type = "none" id = "campanhas">
        <li> <img src="/imgs/logos/herois-logo.png" alt="Herois primeira temp logo" style="background-color: black;"></li>
        <li> <img src="/imgs/Capa-herois.png" alt="Herois segunda temp logo" style="background-color: black;"></li>
        <li> <img src="/imgs/logos/profeciaLogo.jpg" alt="A profecia logo" style="background-color: black;"></li>
        <li> <img src="/imgs/slayerfall/slayerfall-banner.png" alt="" style="background-color: black;"></li>
    </ul>
    
</div>


<div id="logoHome">
    <img src="/imgs/LOGO-rpgdosmanos-semfundo.png" alt="LOGO_HEROIS">
    <h1>RPG DOS MANOS</h1>
</div>


