<hr>

<div class="catalogoCampanhas">
    
    <ul type = "none" id = "campanhas">
        <li> <img src="/imgs/Capa-herois.png" alt="" style="background-color: black;"></li>
        <li> <img src="/imgs/Capa-herois.png" alt="" style="background-color: black;"></li>
        <li> <img src="/imgs/Capa-herois.png" alt="" style="background-color: black;"></li>
        <li> <img src="/imgs/Capa-herois.png" alt="" style="background-color: black;"></li>
    </ul>
    
</div>
<div class = "registroArea">
    <h1 id = "titulo">REGISTRE-SE NO RPG DOS MANOS</h1>
    <div class = "registro">
        <h3>NOME DE USUÁRIO:</h3>
        <input type="text">
        <h3>NICKNAME:</h3>
        <input type="text">
        <h3>SENHA:</h3>
        <input type="text">
        <h3>DIGITE NOVAMENTE SUA SENHA:</h3>
        <input type="text">
        
    </div>
</div>
