<hr>

<div class="catalogoCampanhas">
    
    <ul type = "none" id = "campanhas">
        <li> <img src="/imgs/logos/herois-logo.png" alt="Herois primeira temp logo" style="background-color: black;"></li>
        <li> <img src="/imgs/Capa-herois.png" alt="Herois segunda temp logo" style="background-color: black;"></li>
        <li> <img src="/imgs/logos/profeciaLogo.jpg" alt="A profecia logo" style="background-color: black;"></li>
        <li> <img src="/imgs/Capa-herois.png" alt="" style="background-color: black;"></li>
    </ul>
    
</div>
<div class = "registroArea">
    <div id = "backgroundLogo">
        <img src="/imgs/LOGO-rpgdosmanos.png" alt="Logo RPG DOS MANOS">
    </div>
    
    <div class = "registro">
        <h1 id = "titulo">REGISTRE-SE NO RPG DOS MANOS</h1>
        <form action="" method="post">
            <ul type = "none">
                <li>
                    <label for = "username">NOME DE USUÁRIO:</label>
                    <input type="text">
                </li>
                <li>
                    <label for = "nickname">NICKNAME:</label>
                    <input type="text">
                </li>
                <li>
                    <label for = "password">SENHA:</label>
                    <input type="password">
                </li>
                <li>
                    <label for = "confirmPassword">CONFIRMAR SENHA:</label>
                    <input type="password">
                </li>
            </ul>
            <div style = "display: flex;justify-content:center;">
                <button type="submit">REGISTRAR</button>
            </div>
            
        </form>
    </div>
</div>

