<hr>

<div class="catalogoCampanhas">
    
    <ul type = "none" id = "campanhas">
        <li> <img src="/imgs/logos/herois-logo.png" alt="Herois primeira temp logo" style="background-color: black;"></li>
        <li> <img src="/imgs/Capa-herois.png" alt="Herois segunda temp logo" style="background-color: black;"></li>
        <li> <img src="/imgs/logos/profeciaLogo.jpg" alt="A profecia logo" style="background-color: black;"></li>
        <li> <img src="/imgs/Capa-herois.png" alt="" style="background-color: black;"></li>
    </ul>
    
</div>
<div class = "registroArea">
    <div id = "backgroundLogo">
        <img src="/imgs/LOGO-rpgdosmanos.png" alt="Logo RPG DOS MANOS">
    </div>
    
    <div class = "registro">
        <h1 id = "titulo">REGISTRE-SE NO RPG DOS MANOS</h1>
        <ul type = "none">
            <li>
                <h3>NOME DE USUÁRIO:</h3>
                <input type="text">
            </li>
            <li>
                <h3>NICKNAME:</h3>
                <input type="text">
            </li>
            <li>
                <h3>SENHA:</h3>
                <input type="password">
            </li>
            <li>
                <h3>CONFIRMAR SENHA:</h3>
                <input type="password">
            </li>
   


        </ul>
    <script>
        function onClick(e) {
            e.preventDefault();
            grecaptcha.enterprise.ready(async () => {
            const token = await grecaptcha.enterprise.execute('6LeootspAAAAAFc12Fhyd8-0vrTxSjWdEBGeDUIX', {action: 'LOGIN'});
            });
        }
    </script>  
        
    </div>
</div>

