<header class="cabecalho">
    <div>
        
    </div>
    <nav id="navegacao">
        <ul type="none">
            <li>História</li>
            <li>Jogadores</li>
            <li>Slayers</li>
            <li>Arcos</li>
        </ul>
        <ul type="none">
            <li>Seleção Final</li>
            <li>Seleção Final</li>
            <li>Seleção Final</li>
            <li>Seleção Final</li>
        </ul>
    </nav>
</header>
<main>
    <div>
        <h2>História</h2>
    </div>
    <hr>
    <div>
        <h2>Jogadores</h2>
    </div>
    <hr>
    <div>
        <h2>Slayers</h2>
    </div>
</main>