{{#if success_msg}}
    <div style="background-color: green; color:white; padding: 10px; margin-top: 10px">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div style="background-color: red; color:white; padding: 10px; margin-top: 10px">{{error_msg}}</div>
{{/if}}
