<div style="background-color: black; padding: 5px;">
<nav>
    <h4 style="color: white;">NAVBAR em desenvolvimento</h4>
    <a href="/"><button>HOME</button></a>
    <a href="/admin"><button>ADMIN</button></a>
    <a href="/gamedragon"><button>GAME</button></a>
    <a href="/herois2"><button>HEROIS2</button></a>
    <br><br>
</nav>
</div>
