<div id = "navbar">
<nav>
    <ul type = "none" >
        <li><a href="/" class="active">HOME</a></li>
        <li><a href="/admin">ADMIN</a></li>
        <li><a href="/gamedragon">GAME</a></li>
        <li><a href="/herois2">HEROIS2</a></li>
    </ul>
    <br><br>
</nav>
</div>
