<header id="headerGeral">
    <div id="homelogo">
        <a href="/" ><img src="/imgs/LOGO-rpgdosmanos-semfundo.png" alt="LOGO_HEROIS"></a>
    </div>
    <nav id="navbar">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/admin">ADMIN</a></li>
            <li><a href="/gamedragon">GAME</a></li>
            <li><a href="/herois2">HEROIS2</a></li>
        </ul>
    </nav>
    <div id="loginUser">
        <button id = "loginAbrir">
            <img src="/imgs/tokens/login.png" alt="LOGIN">   
        </button>
    </div>
    <div id = "loginArea" >
        <form action="/usuario/login" method="post">
            <h2>Usuário:</h2>
            <input type="text" id = "username">
            <h2>Senha:</h2>
            <input type="text" id = "password">
            <button type="submit">ENTRAR</button>
        </form>
    </div>
</header>
