<header id="headerGeral">
    <div id="homelogo">
        <a class="navOpen">&#9776;</a>
        <a href="/" class="homelogoImg" ><img src="/imgs/LOGO-rpgdosmanos-semfundo.png" alt="LOGO_HEROIS"></a>
    </div>
    <div id="navbar">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/admin">ADMIN</a></li>
            <li><a href="/gamedragon">GAME</a></li>
            <li id="dropdown">
                <a class="dropbtn">CAMPANHAS</a>
                <div class="dropdown-content">
                    <ul>
                        <li id="dropdownH2">
                            <a class="dropbtnH2">HERÓIS DO AMANHA 2</a>
                            <div class="dropdown-contentH2">
                                <ul>
                                    <li><a href="/herois2">PÁGINA</a></li>
                                    <li><a href="/herois2/game">GAME</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="/slayerfall">SLAYER FALL</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div id="loginUser">
        <button id = "login">
            <img src="/imgs/tokens/login.png" alt="LOGIN">   
        </button>
    </div>
    <div id = "tela-login">
            <form action="/usuario/login" method="post">
                <ul type = "none" id = "inputs">
                    
                        <li>
                            <h4>USUARIO:</h4>
                            <input type="text" id="inputUsuario" name="username">
                        </li>
                        <li>
                            <h4>SENHA:</h4>
                            <input type="password" id ="inputSenha" name="password">
                            <button type="button" id = "mostrarSenha"><img src="/imgs/olhoNormal.png" alt=""></button>
                        </li>
                        <li id = "login-button">
                            <button id="entrar" type="submit">Entrar</button>
                            <a id = "registro-display" href="/registrar">Sem cadastro?</a>
                        </li>
                    
                </ul>
                
            </form>
           
            <ul type = "none" id = "logout">
                <li>
                    <p>Bem vindo, <strong class="nome"></strong>.</p>
                </li>
                <li id = "imagem-perfil">
                    <button id="token_0"><img  class="tokens"></button>
                    <button id="token_1"><img  class="tokens"></button>
                    <button id="token_2"><img  class="tokens"></button>
                    <button id="token_3"><img  class="tokens"></button>
                </li>
                <li id = "logado-buttons">
                    <button id = "logout-button">Sair</button>
                    <button id = "change-password">Mudar senha</button>
                </li>        
            </ul>
            <ul type = "none" id = "mudar_senha">
                
                    <li>
                        <h4>NOVA SENHA:</h4>
                        <input type="text" id="mudarSenha1">
                    </li>
                    <li>
                        <h4>CONFIRMAR SENHA:</h4>
                        <input type="text" id ="mudarSenha2">
                    </li>
                    <li id = "butoes_mudar_senha">
                        <button id="mudarSenha">Mudar Senha</button>
                        <button id = "voltarLogout">Voltar</button>
                    </li>
                
            </ul>
            <ul type = "none" id = "register">
                
                <li>
                    <h4>SEU NOVO USUARIO:</h4>
                    <input type="text" id="registerUsuario">
                </li>
                <li>
                    <h4>SUA SENHA:</h4>
                    <input type="text" id ="registerSenha1">
                </li>
                <li>
                    <h4>CONFIRMAR SUA SENHA:</h4>
                    <input type="text" id ="registerSenha2">
                </li>
                
                <li id = "register-button">
                    <button id = "registrar">Registrar</button>
                    <button id = "voltarLogoutRegister">Voltar</button>
                </li>
            
        </ul>
    </div>
</header>
