<div style="background-color: black; padding: 5px;" id = "navbar">
<nav>
    <h4 style="color: white;">NAVBAR em desenvolvimento</h4>
    <ul type = "none" >
        <li><a href="/"><button>HOME</button></a>            </li>
        <li><a href="/admin"><button>ADMIN</button></a>      </li>
        <li><a href="/gamedragon"><button>GAME</button></a> </li>
        <li><a href="/herois2"><button>HEROIS2</button></a> </li>
    </ul>
    <br><br>
</nav>
</div>
