<div>
    <img src="/imgs/rodape/LOGO-rpgdosmanos-semfundo.png" class="marca-dagua">
    <p>@2023-2024, RPG DOS MANOS Ltda, Todos os direitos reservados.</p>
</div>
<div class = "contato">
    <ul type = "none" class = "redes-sociais">
        <li>
            <a href="https://www.youtube.com/channel/UCi80RsR3dNJzs2AYqnTmXkw">
                <img src="/imgs/icones/youtube-icon.png">
                <h3>Youtube</h3>
            </a>
        </li>
        <li>
            <a href="https://www.twitch.tv/rpgdosmanos">
                <img src="/imgs/icones/twitch-icon.png">
                <h3>Twitch</h3>
            </a>
        </li>
        <li>
            <a href="https://www.tiktok.com/@rpg_dos_manos">
                <img src="/imgs/icones/tiktok-icon.jpg">
                <h3>TikTok</h3>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/rpgdosmanos">
                <img src="/imgs/icones/instagram-icon.jpg">
                <h3>Instagram</h3>
            </a>
        </li>
    </ul>
    <p class ="email">Email para contato:<br><a href="mailto:rpdosmano@gmail.com">rpdosmano@gmail.com </a></p>
</div>